# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Airflow
logs/
airflow-worker-logs/
unittests.db
airflow.db
webserver_config.py

# Docker
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# OS
.DS_Store
Thumbs.db